<mat-spinner *ngIf="!isLoading"></mat-spinner>
<section id="registerPage">
  <form
    *ngIf="!isLoading"
    [formGroup]="registerForm"
    (ngSubmit)="registerHandler()"
  >
    <fieldset fxLayout="column" fxLayoutAlign="center center">
      <legend>Register</legend>
      <mat-form-field>
        <input
          matInput
          formControlName="username"
          id="username"
          class="username"
          name="username"
          type="text"
          placeholder="Username"
        />
        <mat-error
          *ngIf="
            registerForm.controls['username'].invalid &&
            registerForm.controls['username'].touched
          "
        >
          Username is invalid!</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="email"
          id="email"
          class="email"
          name="email"
          type="text"
          placeholder="Email"
        />
        <mat-error
          class="error"
          *ngIf="
            registerForm.controls['email'].invalid &&
            registerForm.controls['email'].touched
          "
        >
          Email is invalid!</mat-error
        >
      </mat-form-field>

      <mat-form-field [formGroup]="passwords">
        <label for="password" class="vhide">Password</label>
        <input
          matInput
          formControlName="password"
          id="password"
          class="password"
          name="password"
          type="password"
          placeholder="Password"
        />
        <mat-error
          *ngIf="
            passwords.controls['password'].invalid &&
            passwords.controls['password'].touched
          "
        >
          Password is invalid!</mat-error
        >
      </mat-form-field>
      <mat-form-field [formGroup]="passwords">
        <input
          matInput
          id="conf-pass"
          formControlName="rePass"
          class="conf-pass"
          name="conf-pass"
          type="password"
          placeholder="Confirm Password"
        />
        <mat-error
          *ngIf="
          passwords.controls['rePass'].invalid &&
          passwords.controls['rePass'].touched || passwords.controls['rePass']?.errors?.['notMatching']
        "
        >
          Password is invalid!</mat-error
        >
      </mat-form-field>

      <mat-checkbox color="primary"
        >Agree with Terms and Conditions.</mat-checkbox
      >

      <button mat-raised-button color="primary" type="submit" class="register">
        <mat-icon>login</mat-icon> Register
      </button>

      <p class="field">
        <span
          >If you already have profile click
          <a routerLink="/users/login">here</a></span
        >
      </p>
    </fieldset>
  </form>
</section>
