<mat-nav-list>
  <ng-container *ngIf="!(isLoggedIn$ | async)">
    <a mat-list-item routerLink="/users/register" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/users/login" (click)="onClose()">
      <mat-icon>login</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
  </ng-container>
  <a mat-list-item routerLink="/" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/albums/catalog" (click)="onClose()">
    <mat-icon>subscriptions</mat-icon>
    <span class="nav-caption">Catalog</span>
  </a>
  <ng-container *ngIf="isLoggedIn$ | async">
    <a mat-list-item routerLink="/albums/create" (click)="onClose()">
      <mat-icon>album</mat-icon>
      <span class="nav-caption">Create Album</span>
    </a>
    <a
      mat-list-item
      href="javascript:void(0)"
      #logout
      (click)="onClose(logout)"
    >
      <mat-icon>logout</mat-icon>
      <span class="nav-caption">Logout</span>
    </a>
  </ng-container>
</mat-nav-list>
