<section class="createPage">
  <form [formGroup]="createAlbumForm" (ngSubmit)="createAlbumHandler()">
    <fieldset>
      <legend>Add Album</legend>

      <div class="container">
        <label for="name" class="vhide">Album name</label>
        <input
          formControlName="name"
          id="name"
          name="name"
          class="name"
          type="text"
          placeholder="Album name"
        />

        <ng-container
          *ngIf="
            createAlbumForm.controls['name'].touched &&
            createAlbumForm.controls['name'].errors?.['required']
          "
        >
          <p class="error">Album name is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['name'].touched &&
            createAlbumForm.controls['name'].errors?.['pattern'] &&  
            !createAlbumForm.controls['name'].errors?.['required']
          "
        >
          <p class="error">Album should contains only letters!</p>
        </ng-container>

        <label for="imageUrl" class="vhide">Image Url</label>
        <input
          formControlName="imageUrl"
          id="imageUrl"
          name="imageUrl"
          class="imageUrl"
          type="text"
          placeholder="Image Url"
        />

        <ng-container
          *ngIf="
            createAlbumForm.controls['imageUrl'].touched &&
            createAlbumForm.controls['imageUrl'].errors?.['required']
          "
        >
          <p class="error">Album image URL is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['imageUrl'].touched &&
            createAlbumForm.controls['imageUrl'].errors?.['pattern'] &&  
            !createAlbumForm.controls['imageUrl'].errors?.['required']
          "
        >
          <p class="error">Invalid image URL!</p>
        </ng-container>

        <label for="price" class="vhide">Price</label>
        <input
          formControlName="price"
          id="price"
          name="price"
          class="price"
          type="text"
          placeholder="Price"
        />

        <label for="releaseDate" class="vhide">Release date</label>
        <input
          formControlName="releaseDate"
          id="releaseDate"
          name="releaseDate"
          class="releaseDate"
          type="text"
          placeholder="Release date"
        />

        <ng-container
          *ngIf="
            createAlbumForm.controls['releaseDate'].touched &&
            createAlbumForm.controls['releaseDate'].errors?.['required']
          "
        >
          <p class="error">Album release date is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['releaseDate'].touched &&
            createAlbumForm.controls['releaseDate'].errors?.['pattern'] &&  
            !createAlbumForm.controls['releaseDate'].errors?.['required']
          "
        >
          <p class="error">
            Album release date should contains only letters and digits!
          </p>
        </ng-container>

        <label for="artist" class="vhide">Artist</label>
        <input
          formControlName="artist"
          id="artist"
          name="artist"
          class="artist"
          type="text"
          placeholder="Artist"
        />

        <ng-container
          *ngIf="
            createAlbumForm.controls['artist'].touched &&
            createAlbumForm.controls['artist'].errors?.['required']
          "
        >
          <p class="error">Album artist is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['artist'].touched &&
            createAlbumForm.controls['artist'].errors?.['pattern'] &&  
            !createAlbumForm.controls['artist'].errors?.['required']
          "
        >
          <p class="error">Album artist should contains only letters!</p>
        </ng-container>

        <label for="genre" class="vhide">Genre</label>
        <input
          formControlName="genre"
          id="genre"
          name="genre"
          class="genre"
          type="text"
          placeholder="Genre"
        />

        <ng-container
          *ngIf="
            createAlbumForm.controls['genre'].touched &&
            createAlbumForm.controls['genre'].errors?.['required']
          "
        >
          <p class="error">Album genre is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['genre'].touched &&
            createAlbumForm.controls['genre'].errors?.['pattern'] &&  
            !createAlbumForm.controls['genre'].errors?.['required']
          "
        >
          <p class="error">Album genre should contains only letters!</p>
        </ng-container>

        <label for="description" class="vhide">Description</label>
        <textarea
          formControlName="description"
          name="description"
          class="description"
          placeholder="Description"
        ></textarea>

        <ng-container
          *ngIf="
            createAlbumForm.controls['description'].touched &&
            createAlbumForm.controls['description'].errors?.['required']
          "
        >
          <p class="error">Album description is required!</p>
        </ng-container>
        <ng-container
          *ngIf="
            createAlbumForm.controls['description'].touched &&
            createAlbumForm.controls['description'].errors?.['minLength'] &&  
            !createAlbumForm.controls['description'].errors?.['required']
          "
        >
          <p class="error">
            Album description should be at least 10 characters!
          </p>
        </ng-container>

        <button [disabled]="createAlbumForm.invalid" class="add-album">
          Add New Album
        </button>
      </div>
    </fieldset>
  </form>
</section>
