<header>
  <nav>
    <img src="/assets/headphones.png" />
    <a routerLink="/">Home</a>
    <ul>
      <!--All user-->
      <li><a routerLink="/catalog">Catalog</a></li>
      <li><a href="/search">Search</a></li>
      <!--Only guest-->
      <li class="guest"><a routerLink="/login">Login</a></li>
      <li class="guest"><a routerLink="/register">Register</a></li>
      <!--Only user-->
      <li class="user"><a routerLink="/create">Create Album</a></li>
      <li class="user logout"><a href="javascript:void(0)">Logout</a></li>
    </ul>
  </nav>
</header>
