mat-spinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mat-card {
  margin: 50px 200px;
}

.content {
  display: flex;
  gap: 25px;
  padding: 20px;
}

mat-card-actions {
  padding: 20px 0;
}

.modify {
  margin-right: 50px;
}


.interaction {
  margin-left: 20px;
}
