<!-- <section id="detailsPage">
  <div class="wrapper" *ngIf="!isLoading">
    <div class="albumCover">
      <img [src]="album.imageUrl" />
    </div>
    <div class="albumInfo">
      <div class="albumText">
        <h1>Name: {{ album.name }}</h1>
        <h3>Artist: {{ album.artist }}</h3>
        <h4>Genre: {{ album.genre }}</h4>
        <h4>Price: {{ album.price }}$</h4>
        <h4>Date: {{ album.releaseDate }}</h4>
        <p>{{ album.description }}</p>
        <p>Likes: {{ album.likes?.length }}</p>
      </div>
      <ng-container *ngIf="(isLoggedIn$ | async) && isOwner">
        <div class="actionBtn">
          <a [routerLink]="['/albums/edit', album._id]" class="edit">Edit</a>
          <a href="javascript:void(0)" (click)="deleteHandler()" class="remove"
            >Delete</a
          >
        </div>
      </ng-container>
      <ng-container *ngIf="(isLoggedIn$ | async) && !isOwner && !canLike">
        <div class="actionBtn">
          <a href="javascript:void(0)" (click)="likeHandler()" class="edit">Like</a>
        </div>
      </ng-container>
    </div>
  </div>
</section> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading" class="example-card" fxFlex="100%">
  <div class="content">
    <div fxLayout="column">
      <mat-card-title-group>
        <mat-card-title>{{ album.name }}</mat-card-title>
        <mat-card-subtitle
          >Artist: {{ album.artist }}</mat-card-subtitle
        > </mat-card-title-group
      ><mat-card-content>
        <p>Genre: {{ album.genre }}</p>
        <p>Price: {{ album.price }}$</p>
        <p>Release Date: {{ album.releaseDate }}</p>
        <p>{{ album.description }}</p>
      </mat-card-content>
    </div>
    <div fxFlex></div>
    <div>
      <youtube-player
        videoId="uelHwf8o7_U"
        suggestedQuality="highres"
        [height]="300"
        [width]="500"
      >
      </youtube-player>
    </div>
  </div>
  <mat-card-actions fxLayout fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="50px" class="interaction">
      <div *ngIf="(isLoggedIn$ | async) && !isOwner && canLike">
        <button color="warn" mat-icon-button (click)="likeHandler(canLike)">
          <mat-icon>{{ canLike ? "favorite" : "favorite_border" }}</mat-icon
          ><span>{{ album.likes?.length }} Likes</span>
        </button>
      </div>

      <div *ngIf="!(isLoggedIn$ | async) || isOwner">
        <button color="warn" mat-icon-button>
          <mat-icon>favorite</mat-icon
          ><span>{{ album.likes?.length }} Likes</span>
        </button>
      </div>
      <div>
        <button color="primary" mat-icon-button>
          <mat-icon>share</mat-icon><span>Share</span>
        </button>
      </div>
    </div>
    <div fxFlex></div>
    <div fxLayout="row" fxLayoutGap="30px" class="modify">
      <div>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </div>
      <div>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
