<mat-toolbar color="primary">
  <img
    src="/assets/kisspng-photographic-film-movie-camera-cinema-website-and-mobile-application-development-service-5d3fc9250ede49.9926975015644613490609.png"
  />
  <div fxHide.lt-md>
    <ul fxLayout>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/movies/catalog">Catalog</a></li>
      <li *ngIf="isLoggedIn$ | async" class="user">
        <a routerLink="/movies/create">Create movie</a>
      </li>
    </ul>
  </div>
  <div fxFlex></div>
  <div fxHide.lt-md>
    <ul fxLayout fxLayoutAlign="center center">
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <li><a href="javascript:void(0)">Hello guest!</a></li>
        <li class="guest"><a routerLink="/users/login">Login</a></li>
        <li class="guest"><a routerLink="/users/register">Register</a></li>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <li class="user">
          <a routerLink="/users/profile"
            >{{ (currentUser$ | async)!.username }}'s Profile</a
          >
        </li>
        <li class="user">
          <a href="javascript:void(0)" (click)="logoutHandler()" mat-button
            >Logout</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
