<section id="loginPage">
  <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
    <fieldset>
      <legend>Login</legend>

      <label for="username" class="vhide">Username</label>
      <input
        formControlName="username"
        id="username"
        class="username"
        name="username"
        type="text"
        placeholder="Username"
      />
      <p
        class="error"
        *ngIf="
          loginForm.controls['username'].invalid &&
          loginForm.controls['username'].touched
        "
      >
        Username is invalid!
      </p>

      <label for="password" class="vhide">Password</label>
      <input
        formControlName="password"
        id="password"
        class="password"
        name="password"
        type="password"
        placeholder="Password"
      />
      <p
        class="error"
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        Password is invalid!
      </p>

      <button [disabled]="loginForm.invalid" type="submit" class="login">
        Login
      </button>

      <p class="field">
        <span>If you don't have profile click <a href="#">here</a></span>
      </p>
    </fieldset>
  </form>
</section>
