<section id="loginPage">
  <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
    <fieldset fxLayout="column" fxLayoutAlign="center center">
      <legend>Login</legend>
      <mat-form-field>
        <input
          matInput
          formControlName="username"
          id="username"
          class="username"
          name="username"
          type="text"
          placeholder="Username"
        />
      </mat-form-field>
      <p
        class="error"
        *ngIf="
          loginForm.controls['username'].invalid &&
          loginForm.controls['username'].touched
        "
      >
        Username is invalid!
      </p>
      <mat-form-field>
        <input
          matInput
          formControlName="password"
          id="password"
          class="password"
          name="password"
          type="password"
          placeholder="Password"
        />
      </mat-form-field>
      <p
        class="error"
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        Password is invalid!
      </p>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon>login</mat-icon> Login
      </button>

      <p class="field">
        <span>If you don't have profile click <a routerLink="/user/register">here</a></span>
      </p>
    </fieldset>
  </form>
</section>
