<section id="registerPage">
  <form [formGroup]="registerForm" (ngSubmit)="registerHandler()">
    <fieldset>
      <legend>Register</legend>

      <label for="username" class="vhide">Username</label>
      <input
        formControlName="username"
        id="username"
        class="username"
        name="username"
        type="text"
        placeholder="Username"
      />
      <p
        class="error"
        *ngIf="
          registerForm.controls['username'].invalid &&
          registerForm.controls['username'].touched
        "
      >
        Username is invalid!
      </p>
      <label for="email" class="vhide">Email</label>
      <input
        formControlName="email"
        id="email"
        class="email"
        name="email"
        type="text"
        placeholder="Email"
      />
      <p
        class="error"
        *ngIf="
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched
        "
      >
        Email is invalid!
      </p>
      <div [formGroup]="passwords">
        <label for="password" class="vhide">Password</label>
        <input
          formControlName="password"
          id="password"
          class="password"
          name="password"
          type="password"
          placeholder="Password"
        />
        <p
          class="error"
          *ngIf="
            passwords.controls['password'].invalid &&
            passwords.controls['password'].touched
          "
        >
          Password is invalid!
        </p>
        <label for="conf-pass" class="vhide">Confirm Password:</label>
        <input
          id="conf-pass"
          formControlName="rePass"
          class="conf-pass"
          name="conf-pass"
          type="password"
          placeholder="Confirm Password"
        />
        <p
          class="error"
          *ngIf="
            passwords.controls['rePass'].invalid &&
            passwords.controls['rePass'].touched || passwords.controls['rePass']?.errors?.['notMatching']
          "
        >
          Password is invalid!
        </p>
      </div>

      <button type="submit" class="register">Register</button>

      <p class="field">
        <span>If you already have profile click <a href="#">here</a></span>
      </p>
    </fieldset>
  </form>
</section>
